<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student app</title>
    <link rel="stylesheet" href="../../css/custom.css">
    <link rel="stylesheet" href="../../bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
</head>
<body id="bootstrap-overrides">          
    <header>
        {{> _header}}
    </header>
    {{{body}}}
    <footer>
        {{> _footer}}
    </footer>
    <script src="../../js/student.js"></script>
    <script src="../../jquery/dist/jquery.js"></script>
    <script src="../../jquery/dist/jquery.min.js"></script>
    <script src="../../bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>